
<%= javascript_include_tag "articles" %>
<% if @favorited %>
&hearts;
<% end %>
<a href="<%= @result[:url] %>" class="h1"><%= @result[:headline] %></a>
<%= content_tag :p, @result[:date] %>
<%= content_tag :h5, @result[:snippet] %>

<% if current_user %>
  <% if !@favorited %>
    <%= form_for @favorite do |f|%>
      <%= hidden_field_tag :title, @result[:headline] %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :nyt_id, params[:id] %>
      <%= f.submit "Save Article to Favorites" %>
    <% end %>
  <% else %>
    <%= form_for @favorite, method: 'delete' do |f|%>
      <%= f.submit "Delete Article from Favorites" %>
    <% end %>
  <% end %>
<% end %>

<%= content_tag :div, id: "chart", data: { url: @result[:url] } do %>
  <svg class="svg-bar-chart"></svg>
<% end %>


