<%= content_tag :h1, @result[:headline] %>
<%= content_tag :p, @result[:snippet] %>
<% if @favorited %>
&hearts;
<% else %>
  <%= form_for @favorite do |f|%>
    <%= hidden_field_tag :title, @result[:headline] %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :nyt_id, params[:id] %>
    <%= f.submit "Save Article to Favorites", id: "create" %>
  <% end %>
<% end %>

<div id="chart">
  <svg class="svg-bar-chart"></svg>
</div>
