<!DOCTYPE html>
<html>
<head>
  <title>Trend365</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "d3.min" %>
  <%= javascript_include_tag "nv.d3.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- NAVIGATION -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=".">Trend.365</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME</a></li>
        <li><a href="/search">YEAR TREND</a></li>
        <li><a href="/user">MY PROFILE</a></li>
      </ul>
      <%= form_tag search_path, class: "navbar-form navbar-left", role: "search", method: "get" do %>
        <div class="form-group">
          <%= text_field :article, :name, placeholder: "Search", class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <% end %>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <% if current_user %>
            <!--Logged in as <%= current_user.email %>-->
          <button type="text" class="btn btn-default" placeholder="Edit my account">
            <%= link_to "Edit my account"%>
          </button>
          <button type="text" class="btn btn-default" placeholder="Log Out">
            <%= link_to "Log out", logout_path %>
          </button>
          <% else %>
          <button type="text" class="btn btn-default" placeholder="Sign up">
            <%= link_to "Sign up", signup_path %>
          </button>
          <button type="text" class="btn btn-default" placeholder="Sign up">
            <%= link_to "Log In", login_path %>
          </button>
          <% end %>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- END NAVIGATION -->





<%= yield %>
<div class="footer">
  <%= link_to "Text Analysis by AlchemyAPI", "http://www.alchemyapi.com/" %>
</div>
</body>
</html>
